/**
 * webfonts via @font-face
 * http://www.html5rocks.com/en/tutorials/webfonts/quick/
 */

@museo500-regular-url: '../typos/museo500-regular/museo500-regular-webfont';

@font-face {
    font-family: 'Museo500';
    src: url('@{museo500-regular-url}.eot');
    src: local('☺'),
        url('@{museo500-regular-url}.woff') format('woff'),
        url('@{museo500-regular-url}.ttf') format('truetype'),
        url('@{museo500-regular-url}.svg#font') format('svg');
    font-weight: normal;
    font-style: normal;
}

.Museo500{
    font-family: 'Museo500', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}